{% extends "layout.html.twig" %}

{% block title %}
    STM
{% endblock %}

{% block content %}
    <div class="col-md-4 col-xs-12 text-center"><h1> Je suis la page STM</h1></div>
{% endblock %}