<footer>

    <div class="bas">


        <div class="row">
            <ul class="col-md-12 col-md-2 listeInfo">
                <li><a href="#"> Plan du site </a></li>
                <li><a href="#"> Mentions Légales </a></li>
                <li><a href="#"> Conditions Général d'Utilisations </a></li>
                <li><a href="#"> Foire Aux questions </a></li>
                <li><div>@Copyright 2019 PandaTeam</div></li>
            </ul>
        </div>

    </div> {# /conteneur-fluid #}

</footer>